.main {
    background-image: url("images/aboutus4.jpg");
    background-size: cover;
    color: white;
    
}

.intro {
    display: flex;
    justify-content: space-between;
}

.int1 {
    width: 50%;
    padding: 2rem;
}

.int1 p{
    font-size: 1.5rem;
}

.int h1 {
    font-size: 3rem;
}

.int2 {
    width: 50%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.int2 p {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    
}

img {
    width: 50%;
    
    border-radius: 50%;
}

@media  screen and (max-width: 600px) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
    }
    .int1 {
        width: 80%;
        padding: 2rem;
    }
    .int1 h1{
        margin-bottom: 2rem;
    }
    .int2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .int2 p {
        font-size: 2rem;
    }
    
    img {
        width: 50%;
        
        border-radius: 50%;
    }
    
}